.orderhistory-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Arial", sans-serif;
}

.orderhistory-container ul, li {    
    list-style: none;
}

/*타이틀*/
.orderhistory-title {
    text-align: center;
    color: #F285C1;
    font-size: 70px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 30px;
}

/*주문목록*/
.orderhistory-order {
    border: 2px solid #F285C1;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 25px;
    background: white;
}

/*결제 정보*/
.orderhistory-order > p {
    margin: 6px 0;
    font-size: 15px;
    color: #333;
}

/*상품 박스*/
.orderhistory-itembox {
  display: flex;
  align-items: center;
  border: 1px solid #F285C1;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
}

/*상품 이미지*/
.orderhistory-itembox img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
    border: 1px solid #ddd;
}

/*상품 정보*/
.orderhistory-iteminfo {
    flex: 1;
}
.orderhistory-product-img {
    size: auto;
}
.orderhistory-iteminfo li {
    margin-bottom: 8px;
    font-size: 17px;
    color: #444;
}

/*버튼 영역*/
.orderhistory-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.orderhistory-buttons button {
    background: #F285C1;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
    ;
}
.orderhistory-buttons button:hover {
    transform: scale(1.05);
}
